body {
    font-family: 'GmarketSansBold';
}
h3 {
    text-align: center;
}
h4 {
    line-height: 1.5;
    padding:40px 0;
    font-size:20px;
}

.title {
    padding:0;
}
button {
    text-align: left;
    width:90%;
    border:none;
    background:#fff;
    font-size:17px;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-weight: bold;
    padding:25px 20px;
    cursor: pointer;
    margin:10px;
    border-radius:10px;
    line-height: 1.5;
}

@media(max-width:499px) {
    h4 {
        font-size:6vw;
    }
    button {
        font-size:4vw;
    }
    
    
}