@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    width: 100%;
    height:100%;
}

body {
    background-color: #FAF1BE;
    color:#000;
    font-family: 'NEXON Lv1 Gothic OTF';
    width:100%;
    height:100%;
}
section {
    width:100%;
    width:100%;
    display: flex;
    justify-content: center;
    margin-top:100px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    max-width: 450px;
    text-align: center;
}

.title {
    padding-bottom: 70px;
}
h1 {
    font-family: 'GmarketSansBold';
    font-size:50px;
    padding-bottom: 20px;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    color:#7F47DD;
}


h3 {
    font-size: 30px;
    
}
.startBtn {
    padding-top: 70px;
}
.btn {
    width: 80%;
    height:50px;
    border-style: none;
    border-radius: 10px;
    font-family: 'NEXON Lv1 Gothic OTF';
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    color:#7F47DD;
    cursor: pointer;
    margin-bottom: 20px;

}
.btn:hover {
    text-decoration: underline;
}
.typeBtn {
    padding-bottom: 50px;
}

hr {
    width:90%;
    height:2px;
    border-radius: 5px;
    background-color: #7F47DD;
    border:none;
    margin-bottom:70px;
}

.logo {
    margin: 30px;
}

@media(max-width:500px) {
    h1 {
        font-size:10vw;
    }
    h2, .btn {
        font-size:5vw;
    }
    
    h3 {
        font-size:7vw;
    }
}