h1 {
    font-size:30px;
    margin-bottom: 30px;
}
.copyBtn, .kakaoBtn {
    color:#000;
}
.faceBtn {
    background-color: #3b5998;
    color:#fff;
}
.kakaoBtn {
    background-color: #f1d900;
}
hr {
    background-color: #ea7e7c;
    margin-top:50px;
}

.weniv {
    margin: 50px 0;
}
.weniv p {
    font-size:10px;
    margin:30px 0;
    line-height: 1.5;
}

@media(max-width:500px) {
    h1 {
        font-size:5vw;
    }
    
}